@model IEnumerable<RolModel>

@{
    ViewData["Title"] = "Rol Listesi";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<p class="p-3 mb-2 bg-success text-white">
    @{
        string count;
        if (Model != null)
        {
            if (Model.Count() == 0)
            {
                count = "Rol Bulunamadı";
            }
            else if (Model.Count() == 1)
            {
                count = Model.Count() + " Rol Bulundu";
            }
            else
            {
                count = Model.Count() + " Rol Bulundu";
            }
        }
        else
        {
            count = "Rol Bulunamadı";
        }
        @count
    }
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adi)
                </td>
                <td>
                    @*<a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"> Detay</a>*@
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Kullanıcı Detayı
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>